body {
  font-family: "Montserrat", sans-serif;
  width: 90vw;
  height: 100vh;
}
.onlinec {
  box-sizing: border-box;
  width: 40vw;
  height: 80vh;
  margin: 70px;

  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onlinec span {
  padding: 30px;
  font-size: 80px;
}

.loginpage {
  width: 60vw;
  margin: 70px;
  margin-left: 200px;
  margin-right: 30px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  align-self: center;
  justify-self: center;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.buttonselector {
  border: transparent;
  background-color: transparent;
  width: 100px;
  border-radius: 4px;
  font-size: 1.2rem;
  color: white;
}
.buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.buttonselected {
  background-color: #a88bfa;
  color: black;
  border: 2px solid white;
  color: rgba(17, 24, 39, 1);
}
.buttonselector:hover {
  border: 2px solid #a88bfa;
}

#whole-container {
  display: flex;
}
.button:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease;
  border: 2px solid white;
}
.button:active {
  transform: translateY(5px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}
